In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/olivne/Desktop/PSTRE_syntheticData.csv', delimiter="\t")

In [6]:
df

       TestTakerID  Timestamp     Coding
0          1001042          0      START
1          1001042      44985      SS_Se
2          1001042      55852   SS_Se_OK
3          1001042      55950  SS_Type_2
4          1001042      66546          E
...            ...        ...        ...
10991      4076375      82216         SS
10992      4076375     107365          E
10993      4076375     112452       Next
10994      4076375     113670    Next_OK
10995      4076375     113672        END

[10996 rows x 3 columns]

In [15]:
pd.Datdf[df["Coding"] == "END"]["Timestamp"].set_index("TestTakerID")

KeyError: "None of ['TestTakerID'] are in the columns"

In [13]:
df[df["Coding"] == "END"]["Timestamp"]

9        105382
25       194117
37       171958
44        75123
55       299319
          ...
10959    212910
10968    185890
10972    116160
10981    179823
10995    113672
Name: Timestamp, Length: 1079, dtype: int64

In [5]:
# entry = events_by_id[1]
# np.diff(entry[1]["Timestamp"].values), entry[1]["Coding"][1:].values
user_events = entry[1]["Coding"].values
action_sequence = [entry[1]["Coding"] for entry in events_by_id]

# ... or use pandas DataFrame.

NameError: name 'entry' is not defined

In [ ]:
# action_sequence

In [ ]:
# Extract all bigrams from an event sequence.
# Using iteration: # [(user_events[i], user_events[i + 1]) for i in range(len(user_events) - 1)]
# Using zip:
# list(zip(user_events[:-1], user_events[1:]))

In [ ]:
bigram = [list(zip(user_events[:-1], user_events[1:])) for user_events in action_sequence]

In [ ]:
bigram_flattened = [x for users_events in bigram for x in users_events]

In [ ]:
# Count bigram frequencies.

# 1. Solution with pandas count()... - Natalie?
# pd.DataFrame(bigram_flattened).count(("START", "SS_Se")) syntax??

# 2. Use a dictionary of element->#occurrences and loop over the list.
# count = {}
# for element in bigram_flattened:
#     if element not in count:
#         count[element] = 0
#     count[element] += 1
    
import collections
count = collections.Counter(bigram_flattened)

In [ ]:
len(count)

In [ ]:
import matplotlib.pyplot as plt

plt.hist(count.values(), 50);
plt.xlabel("Bigram Frequency")
plt.ylabel("# Bigrams");

In [ ]:
action_sequence[0]

In [ ]:
from nltk import ngrams

sentence = 'this is a foo bar sentences and i want to ngramize it'

n = 6
sixgrams = ngrams(sentence.split(), n)

for grams in sixgrams:
  print grams